body {
    /* min-height: 335px;
    max-width: 400px; */
    /* border: 1px solid rgb(196, 196, 196); */
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}


.main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items:center;
    justify-content: center;
    border: 1px solid #b1b1b1;
    border-radius: 15px;
    background-color: #e7e9eb;
    padding: 0 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container {
    background-color: #e7e9eb;
    width: 400px;
    max-width: 100%;
}


.pass-window {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    min-height: 40px;
    margin: 0 10px 15px 10px;
    border: 1px solid #b1b1b1;
    background-color: #f7f7f7;
    border-radius: 5px;
}


.password-reveal{
    font-size: 1.5rem;
    
}

/* @media (width <= 440px) {
    .password-reveal{
        font-size: 6vw;
    }
} */

/* ToolTip*/
.tooltip {
    position: fixed;
    padding: 5px 15px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    transition: 2s;
  }

.abilities {
    display: flex;
    flex-direction: column;
    margin: 15px 10px 15px 10px;
    gap: 12px;
}

.input-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="checkbox"]{
    width: 17px;
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input[type="checkbox"] { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(216, 216, 216);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  

  .slider::after{
    background-color: #a11616;
  }

  input[type="checkbox"]:checked + .slider {
    background-color: #04AA6D;
  }
  
  /* input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #038b59;
  } */
  
  input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 23px;
  }
  
  .slider.round:before {
    border-radius: 75%;
  }



.pass-length {
    font-size: 18px;
}

#how-num{
    width: 53px;
    height: 20px;
    border: 1px solid #b1b1b1;
}

.generate-pass{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px 15px 10px
}

.style-btn {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 45px;
    background-color: #04AA6D;
    border: none;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: #038b59;
}