body {
    height: 230px;
    width: 400px;
    /* border: 1px solid rgb(196, 196, 196); */
    background-color: #f7f7f7;
}


.main {
    
    height: 100%;
    width: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 15px;
    background-color: #e7e9eb;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container {
    height: 50px;
    background-color: #e7e9eb;
}


.pass-window {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0 5px 0;
    margin: 0 10px 10px 10px;
    border: 1px solid #b1b1b1;
    background-color: #f7f7f7;
    border-radius: 5px;
}




.password-reveal{
    font-size: 30px;
}

/* ToolTip*/
.tooltip {
    position: fixed;
    padding: 5px 15px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    transition: 2s;
  }

.abilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 10px 15px 10px;
}

.pass-length {
    font-size: 20px;
}

#how-num{
    width: 37px;
    border: 1px solid #b1b1b1;
}

.generate-pass{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px
}

.generate-btn {
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    height: 35px;
    background-color: #04AA6D;
    border: none;
    
    cursor: pointer;
}

.generate-btn:hover {
    background-color: #038b59;
}